name: publish

on:
  push:
    tags:
      - 'v[0-9]+.[0-9]+.[0-9]+'
    branches:
      - dev
      - develop

permissions:
  contents: read

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-python@v6
        with:
          python-version: '3.11'
      - name: Install uv
        uses: astral-sh/setup-uv@v7
      - name: Run tests
        run: uv run python -m pytest tests/

  linux:
    runs-on: ${{ matrix.platform.runner }}
    needs: test
    # continue-on-error: true # DEBUG: remove for prod
    strategy:
      # fail-fast: false # DEBUG: remove for prod
      matrix:
        platform:
          - runner: ubuntu-22.04
            target: x86_64
          - runner: ubuntu-22.04
            target: x86
          - runner: ubuntu-22.04
            target: aarch64
          - runner: ubuntu-22.04
            target: armv7
          - runner: ubuntu-22.04
            target: s390x
          - runner: ubuntu-22.04
            target: ppc64le
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-python@v6
        with:
          python-version: 3.x
      - name: Build wheels
        uses: PyO3/maturin-action@v1
        with:
          target: ${{ matrix.platform.target }}
          args: --release --out dist --find-interpreter
          sccache: ${{ !startsWith(github.ref, 'refs/tags/') }}
          manylinux: auto
      - name: Upload wheels
        uses: actions/upload-artifact@v5
        with:
          name: wheels-linux-${{ matrix.platform.target }}
          path: dist

  test_install:
      name: Test Install
      runs-on: ubuntu-latest
      needs: linux
      steps:
        - uses: actions/setup-python@v6
          with:
            python-version: '3.11'

        - name: Get arch name
          run: python3 -c 'import platform; print(platform.machine())'

        - name: Download wheel
          uses: actions/download-artifact@v4
          with:
            pattern: wheels-linux-*
            path: dist/
            merge-multiple: true

        - name: Install local wheel
          run: pip install --use-wheel --no-index --find-links=dist/ pyfracturedjson

        - name: Import and smoke test
          run: |
            python -c '
            from FracturedJSON import dumps

            expected="""{
                "abcd"     : "abcd",
                "long_list": [
                    "thing_0",  "thing_1",  "thing_2",  "thing_3",  "thing_4",  "thing_5",  "thing_6",  "thing_7",  "thing_8",
                    "thing_9",  "thing_10", "thing_11", "thing_12", "thing_13", "thing_14", "thing_15", "thing_16", "thing_17",
                    "thing_18", "thing_19"
                ]
            }"""
            long_list = [f"thing_{i}" for i in range(20)]
            actual = dumps({"abcd": "abcd", "long_list": long_list})
            assert actual == expected, f"unexpected format:\n{actual}"
            '

  musllinux:
    runs-on: ${{ matrix.platform.runner }}
    needs: test
    strategy:
      matrix:
        platform:
          - runner: ubuntu-22.04
            target: x86_64
          - runner: ubuntu-22.04
            target: x86
          - runner: ubuntu-22.04
            target: aarch64
          - runner: ubuntu-22.04
            target: armv7
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-python@v6
        with:
          python-version: 3.x
      - name: Build wheels
        uses: PyO3/maturin-action@v1
        with:
          target: ${{ matrix.platform.target }}
          args: --release --out dist --find-interpreter
          sccache: ${{ !startsWith(github.ref, 'refs/tags/') }}
          manylinux: musllinux_1_2
      - name: Upload wheels
        uses: actions/upload-artifact@v5
        with:
          name: wheels-musllinux-${{ matrix.platform.target }}
          path: dist

  windows:
    runs-on: ${{ matrix.platform.runner }}
    needs: test_install
    strategy:
      matrix:
        platform:
          - runner: windows-latest
            target: x64
            python_arch: x64
          - runner: windows-latest
            target: x86
            python_arch: x86
          - runner: windows-11-arm
            target: aarch64
            python_arch: arm64
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-python@v6
        with:
          python-version: '3.13'
          architecture: ${{ matrix.platform.python_arch }}
      - name: Build wheels
        uses: PyO3/maturin-action@v1
        with:
          target: ${{ matrix.platform.target }}
          args: --release --out dist --find-interpreter
          sccache: ${{ !startsWith(github.ref, 'refs/tags/') }}
      - name: Upload wheels
        uses: actions/upload-artifact@v5
        with:
          name: wheels-windows-${{ matrix.platform.target }}
          path: dist

  macos:
    runs-on: ${{ matrix.platform.runner }}
    needs: test_install
    strategy:
      matrix:
        platform:
          - runner: macos-15-intel
            target: x86_64
          - runner: macos-latest
            target: aarch64
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-python@v6
        with:
          python-version: 3.x
      - name: Build wheels
        uses: PyO3/maturin-action@v1
        with:
          target: ${{ matrix.platform.target }}
          args: --release --out dist --find-interpreter
          sccache: ${{ !startsWith(github.ref, 'refs/tags/') }}
      - name: Upload wheels
        uses: actions/upload-artifact@v5
        with:
          name: wheels-macos-${{ matrix.platform.target }}
          path: dist

  sdist:
    runs-on: ubuntu-latest
    needs: test_install
    steps:
      - uses: actions/checkout@v6
      - name: Build sdist
        uses: PyO3/maturin-action@v1
        with:
          command: sdist
          args: --out dist
      - name: Upload sdist
        uses: actions/upload-artifact@v5
        with:
          name: wheels-sdist
          path: dist

  release:
      name: Release
      runs-on: ubuntu-latest
      needs: [linux, musllinux, windows, macos, sdist, test_install]
      if: startsWith(github.ref, 'refs/tags/v') 
      permissions:
        id-token: write
        contents: write
        attestations: write
      
      steps:
        - name: Download wheels
          uses: actions/download-artifact@v5
          with:
            pattern: wheels-*
            path: dist
            merge-multiple: true

        - name: Generate artifact attestation
          uses: actions/attest-build-provenance@v3
          with:
            subject-path: 'dist/*'

        - name: Install uv
          uses: astral-sh/setup-uv@v7

        - name: Publish to PyPI
          run: uv publish dist/*
          env:
            UV_PUBLISH_TOKEN: ${{ secrets.PYPI_API_TOKEN }}

  # smoke_test_pypi:
  #     name: Public PyPI Check
  #     runs-on: ubuntu-latest
  #     needs: release
  #     environment: 
  #       name: pypi-propagation 
  #     steps:
  #       - uses: actions/setup-python@v6
  #         with:
  #           python-version: '3.11'
  #       - name: Install from PyPI
  #         run: pip install --no-cache-dir pyfracturedjson
  #       - name: Verify
  #         run: python -c "import FracturedJSON"
